page-home {

    [col-6]{
        padding: 0px;
    }

    .card{
        position: relative;
     //   margin-top: 50px;
        border-radius: 12px;
        background-color: white;
        height: 70%;
        width: 85%;
    }
    

    .container {
        position: relative;
        padding: 2px 8px;
    }

    //.card-md p{
    //    line-height: 0.6;
    //}

    .title1{
        position: absolute;
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        top: 3px;
        font-size: 7px;
        color: rgb(129, 129, 129);
        white-space: normal;
        
    }

    .date{
        display: block;
        position: absolute;
        bottom: -15px;
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        font-size: 3px;
        color: rgb(129, 129, 129);
      
    }

    img{
        width: 100% !important;
        height: 55% !important;
        border-radius: 12px 12px 0 0;
    }

    .card-content-md{
        line-height: 1.0;
        padding: 6px 5px 8px 10px;
    }

    ion-row {
        position: relative;
        padding-left: 20px;
       // margin-bottom: -100px;
        //top: 250px;
       // min-height: 500px; 
        height: 80%;

            .scroll-content {
            padding: 0px !important;
        }    
    }
    

    .rowWithScroll{
        overflow-x: scroll !important;
        overflow-y: hidden;
      //  word-wrap: break-word;
      //  font-size:0.8em;
       // font-weight:300;
}

}
