page-home {
    .card{
        border-radius: 12px;
    }

    .card-md p{
        line-height: 0.6;
    }

    .title1{
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        font-size: 7px;
        color: rgb(129, 129, 129);
        white-space: normal;
        
    }

    .date{
        display: block;
        position: absolute;
        bottom: 5px;
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        font-size: 3px;
        color: rgb(129, 129, 129);
      
    }

    ion-card{
        position: relative;
        width: 50% !important;
        height: 58% !important;
        display: inline-block;
    }

 

    img{
        width: 100% !important;
        height: 60% !important;
    }

    .card-content-md{
        line-height: 1.0;
        padding: 6px 5px 8px 10px;
    }

    .scroll-zoom-wrapper {
        white-space: nowrap;
        width: 300px;
        height: 300px;
    }

    ion-scroll {
        position: relative;
        top: 250px;
       // min-height: 500px; 
        height: 38%;

            .scroll-content {
            padding: 0px !important;
        }    
    }

}
